html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: 'Source Sans Pro', sans-serif;
}

.site {
    padding: 0 100px;
}

p {
    margin: 0;
    font-size: 20px;
}

a {
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.header,
.header-white-overlay,
.contact {
    margin: 0 -100px;
}

.header,
.header-white-overlay {
    height: 100vh;
}

.header {
    padding: 20px 100px;
    position: relative;
    background: #b1b1b0 url(images/svatby/cropped-2.jpg) no-repeat center;
    background-size: cover;
}

.header-white-overlay {
    padding: 0 100px;
    background-color: rgb(255, 255, 255, 0.3);
}

.logo-name-menu {
    margin: -20px -100px;
    padding: 20px 100px;
    background-color: rgb(255, 255, 255, 0.4);
    display: flex;
    justify-content: space-between;
}

.logo-name {
    display: flex;
}

.logo {
    width: 80px;
    height: 80px;
}

.logo-link {
    margin: 10px 20px 10px 0;
    width: 80px;
    height: 80px;
}

.name {
    font-size: 40px;
    text-transform: uppercase;
}

.menu {
    margin: 0;
    padding: 20px 0;
    display: flex;
}

.menu-item {
    padding: 15px 0;
    min-width: 96px;
    text-align: center;
}

.menu-item:hover,
.about-fb:hover,
.about-zonerama:hover {
    color: #1b71b8;
}

.hamburger {
    display: none;
}

h1 {
    margin: 0;
    padding-bottom: 20px;
    font-size: 40px;
    font-weight: 600;
    color: #1b71b8;
}

.text {
    text-align: justify;
}

.about {
    width: 550px;
    position: absolute;
    bottom: 40px;
}

.photogallery,
.tariff {
    padding: 40px 0;
}

.photogallery-albums {
    width: 100%;
    display: flex;
    gap: 20px;
}

.album-container {
    width: calc((100% - 60px) / 4);
    padding: 12% 2%;
    position: relative;
    background-color: #b1b1b0;
    background-size: cover;
}

.album-name {
    display: none;
    margin: 0;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 30px;
    font-weight: 400;
    color: white;
}

.album-weddings {
    background-image: url(images/album-svatby.jpg);
}

.album-children {
    background-image: url(images/album-deti.jpg);
}

.album-pairs {
    background-image: url(images/album-pary.jpg);
}

.album-portraits {
    background-image: url(images/album-portrety.jpg);
}

.album-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.album-container:hover .album-name {
    display: block;
}

.album-container:hover .album-link {
    background-color: rgb(86, 137, 179, 0.6);

}

.tariff-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 600;
    background-color: white;
    border-radius: 50px;
    border: 2px solid #f39200;
    cursor: pointer;
}

.tariff-button a {
    color: #f39200;
}

.tariff-button:hover {
    background-color: #f39200;
}

.tariff-button:hover a {
    color: white;
}

.contact {
    padding: 40px 100px;
    background-color: #b1b1b0;
}

.contact-item {
    color: white;
    display: block;
}

.mail {
    width: 208px;
}

.fb-zonerama-links {
    padding-top: 20px;
    display: flex;
    gap: 20px;
}

.fb,
.zonerama {
    width: 40px;
}

.fb:hover,
.zonerama:hover {
    transform: scale(1.1);
}

#top-button {
    display: none;
    z-index: 97;
    position: fixed;
    right: 30px;
    bottom: 40px;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    border-radius: 50%;
}

#top-button:hover {
    transform: scale(1.1);
}

@media (max-width: 951px) {

    .site,
    .header-white-overlay {
        padding: 0 60px;
    }

    .header {
        padding: 20px 60px;
    }

    .header,
    .header-white-overlay,
    .contact {
        margin: 0 -60px;
    }

    .logo-name-menu {
        margin: -20px -60px;
        padding: 20px 60px;
    }

    .photogallery-albums {
        flex-wrap: wrap;
    }

    .album-container {
        width: calc((100% - 20px) / 2);
        padding: 24.4% 2%;
    }

    .contact {
        padding: 40px 60px;
    }

    #top-button {
        right: 10px;
    }
}

@media (max-width: 861px) {
    .logo-name-menu {
        flex-wrap: wrap;
    }

    .logo-name,
    .menu {
        width: 100%;
    }

    .menu {
        padding: 0;
    }

    .menu-item {
        padding-top: 20px;
        padding-bottom: 0;
        width: calc(100% / 4);
    }

    .menu-photogallery {
        min-width: 96px;
    }

    .about {
        width: calc(100% - 120px);
    }
}

@media (max-width: 521px) {
    .site {
        padding: 0 40px;
    }

    .header,
    .header-white-overlay,
    .contact {
        margin: 0 -40px;
    }

    .header {
        padding: 20px 40px;
    }

    .header-white-overlay {
        padding: 0 40px;
    }

    .logo-name-menu {
        margin: -20px -40px;
        padding: 20px 40px;
    }

    .menu-about,
    .menu-tariff,
    .menu-contact {
        min-width: 0;
    }

    .about {
        width: calc(100% - 80px);
    }

    .contact {
        padding: 40px 40px;
    }

    .album-container {
        width: 100%;
        padding: 50% 2%;
    }

    #top-button {
        right: 20px;
        bottom: 40px;
    }

    #top-button img {
        opacity: 0.8;
    }
}

@media (max-width: 421px) {
    .stop-scrolling {
        height: 100%;
        overflow: hidden;
    }

    .header {
        position: relative;
    }

    .name {
        font-size: 28px;
    }

    .menu {
        display: none;
    }

    .hamburger {
        display: inline-block;
        height: 24px;
        position: absolute;
        top: 20px;
        right: 40px;
        z-index: 99;
        cursor: pointer;
    }

    .open {
        display: flex;
        flex-wrap: wrap;
        width: 100vw;
        padding: 40px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 98;
        background-color: white;
        justify-content: center;
    }

    .menu-item {
        width: 100%;
        height: 50px;
    }
}

@media (max-width: 390px) {
    .name-photographer {
        min-width: 156px;
    }

    .hamburger {
        top: 75px;
    }

    .open-hamburger {
        position: absolute;
        top: 20px;
        right: 40px;
    }
}

@media (max-width: 348px) {

    p,
    a {
        font-size: 16px;
    }

    .name {
        font-size: 26px;
    }

    .logo,
    .logo-link {
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 316px) {
    .hamburger {
        top: 20px;
    }

    .name-photographer {
        min-width: 0;
        width: 80px;
    }
}

@media (max-width: 269px) {
    .hamburger {
        right: 10px;
    }

    .header,
    .header-white-overlay,
    .contact,
    .logo-name-menu {
        margin-left: -5px;
        margin-right: -5px;
    }

    .site,
    .header,
    .header-white-overlay,
    .logo-name-menu,
    .contact {
        padding-left: 5px;
        padding-right: 5px;
    }

    .about {
        width: calc(100% - 10px);
    }
}